.button {
    padding: 10px 20px;
    margin: 20px 0;
    color: orange;
    background-color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: #282c34;
    }
}