.card {
  position: relative;
  width: 250px;
  height: 400px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background-color: #95aba8;
  margin: 20px;

  &_image_box {
    filter: drop-shadow(0 0 3px rgba(100,0,0,0.5));
  }

  &_image {
    width: 90%;
    margin-top: 12px;


  }
}


.favourite {
  position: absolute;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #e9e9e9;
  cursor: pointer;

  &_is_checked {
    background-color: orange;
  }
}



