.ModalBg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    overflow: hidden;
}

.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    border-radius: 5px;
    z-index: 10;
    user-select: none;
    text-align: center;
    background-color: #1f1f1f;
}

.Header {
    position: relative;
    height: 30px;
    background-color: rgba(1, 1, 1, 0.2);
    border-radius: 5px 5px 0 0;

}

.Cross {
    position: relative;
    top: 5px;
    left: 270px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:before,
    &:after {
        position: absolute;
        left: 50%;
        content: '';
        height: 20px;
        width: 1px;
        background-color: #fff;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.Main_content {
    align-items: center;
    height: 115px;
    color: #fff;
    padding: 50px 30px;
}


