.header {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  background-color: #000000;
  height: 100px;
  border-bottom: 2px solid #282c34;
  padding-top: 30px;

  &_title {
    margin: 0;
  }
}